@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

/*The body will take 100% of the available height space */
body {
  background-color: black;
}
/* Title and timer  */
.page-title {
  color: silver;
  font-family: "Aclonica", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
  margin-top: 100px;
  cursor: pointer;
}

.game-info {
  color: silver;
  font-size: 2.5em;
  font-family: "Aclonica", sans-serif;
  text-align: center;
  padding-right: 100px;
}

#time-remaining {
  position: absolute;
  margin-left: 10px;
}

.discarded-balls,
.scale-moves {
  color: silver;
  font-size: 2.5em;
  font-family: "Aclonica", sans-serif;
  text-align: center;
}

.discarded-balls {
  margin-right: 100px;
}

#discarded-balls {
  position: absolute;
  margin-left: 10px;
}

.scale-moves {
  margin-left: 100px;
}

/* This Basketballs group and Scale sides*/

.balls-container {
  resize: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.left-side {
  background: url("../images/plate.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0 0 20px 20px;
  width: 400px;
  height: 300px;
  margin-right: 20px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  resize: none;
  align-content: center;
  transition: transform 900ms ease-in-out;
  -moz-transition: transform 900ms ease-in-out;
  -webkit-transition: transform 900ms ease-in-out;
  -o-transition: transform 900ms ease-in-out;
}

.right-side {
  background: url("../images/plate.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0 0 20px 20px;
  width: 400px;
  height: 300px;
  margin-left: 30px;
  margin-right: 50px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  align-content: center;
  transition: transform 900ms ease-in-out;
  -moz-transition: transform 900ms ease-in-out;
  -webkit-transition: transform 900ms ease-in-out;
  -o-transition: transform 900ms ease-in-out;
}

.left-side.heavier {
  transform: translateY(100px);
}

.right-side.heavier {
  transform: translateY(100px);
}

.basketballs {
  position: relative;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  transform: scale(1);
  background-color: transparent;
}

.basketballs:hover {
  transform: scale(0.97);
  transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
}

img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

/* This is the style for the overlays*/

ol {
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

li {
  margin-bottom: 30px;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #ffffff;
  font-family: "Aclonica", sans-serif;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
  }
}

#mobile-overlay {
  color: black;
}

/*This is the style for the Control panel under the time. */

.control-panel-container {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.control-panel {
  display: flex;
}

.btn {
  background-color: var(--background-color);
  font-family: "Aclonica", sans-serif;
  position: relative;
  color: black;

  --background-color: #ff8c00;
  --border-size: 2px;
}

.btn.btn-border-pop::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--background-color);
  transition: top, right, left, bottom, 100ms, ease-in-out;
  -moz-transition: top, right, left, bottom, 100ms, ease-in-out;
  -webkit-transition: top, right, left, bottom, 100ms, ease-in-out;
  -o-transition: top, right, left, bottom, 100ms, ease-in-out;
}

.btn.btn-border-pop:hover:not([disabled]):before {
  top: calc(var(--border-size) * -3);
  right: calc(var(--border-size) * -3);
  left: calc(var(--border-size) * -3);
  bottom: calc(var(--border-size) * -3);
}

div.tooltip-inner {
  background-color: silver;
  font-family: "Aclonica", sans-serif;
  color: black;
}

#basket {
  background-image: url("../images/net.png");
  background-size: cover;
  width: 150px;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  align-content: center;
}

.scale-check {
  font-size: 3.5em;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.reset-scale {
  background-image: url("../images/scale2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.check-discard-container {
  display: flex;
  justify-content: space-around;
}

.check-answer {
  font-size: 3.5em;
  height: 100px;
  width: 100px;
  margin: 10px;
}

#discarded {
  background-image: url("../images/bin.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  align-content: center;
  margin-left: 80px;
}

@media (max-width: 450px) {
  .page-title {
    font-size: 4em;
    margin-top: 20px;
  }

  .discarded-balls {
    margin-right: 20px;
  }


  .scale-moves {
    margin-left: 40px;
    margin-right: 40px;
  }


  #discarded{
      margin-left: 40px;
  }

  .board {
    margin-top: 100px;
    justify-content: center;
  }

  .left-side {
    width: 125px;
    height: 150px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .right-side {
    width: 125px;
    height: 150px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .balls-container{
      margin-bottom: 30px;
  }


  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  .basketballs {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-left: 25px;
  }


#start-overlay{
    text-align: center;
    overflow: auto;
}

#start-overlay.overlay-text.visible{
    display:inline;
}

}

@media (min-width:736px) and (max-width:812px){

    #start-overlay{
    text-align: center;
    overflow: auto;
}

#start-overlay.overlay-text.visible{
    display:inline;
}


 }

  

