@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/*The body will take 100% of the available height space */
body {
    background-image: url("../assets/images/green-back.jpg");
    background-repeat: repeat;
 }



.page-title{
    color:silver;
    font-family:'Aclonica', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
    margin-top: 50px;
}


.game-info{
    color:silver;
    font-size: 2.5em;
    font-family:'Aclonica', sans-serif;
}



.balls-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin: 50px;
}

.left-side{
    background: url("../assets/images/plate.png");
    background-size: cover;
    border-radius: 0 0 20px 20px;
    width: 225px;
    margin-right: 10px;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    align-content: center;
    transition: transform 1000ms ease-in-out;
}

.right-side{
    background: url("../assets/images/plate.png");
    background-size: cover;
    border-radius: 0 0 20px 20px;
    width: 225px; 
    margin-left: 10px; 
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden; 
    align-content: center;
    transition: transform 1000ms ease-in-out;
}


.left-side.heavier{
   transform: translateY(100px);
}

.right-side.heavier{
    transform: translateY(100px);
}


.game-info-container{
    display: flex;
    justify-content: space-between;
}






.basketballs{
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    transform: scale(1);
    background-color: transparent;
    
}

.basketballs:hover{
    transform: scale(.97);
    transition: transform .2s ease-in-out;
}

img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}




.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    color: #ffffff;
    font-family:'Aclonica', sans-serif;
}

.overlay-text.visible{
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}


@keyframes overlay-grow{
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }

}


.basket-check-container{
    width: 100%;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
}

/*-------This code control the check buttons at the top of the page*/

.game-info-container, .answer-check-container{
    display: flex;
    justify-content: space-between;
}




#basket{
    background-image: url("../assets/images/basket.png");
    background-color: silver;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 30%;

}


.scale-check{
    background-image: url("../assets/images/scale2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 30%;
}

.reset-scale{
    height: 150px;
    width: 150px;
    border-radius: 30%;
}


#discarded{
    background-image: url("../assets/images/bin.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
     display: flex;
    flex-flow: column wrap;
    overflow: hidden; 
    align-content: center;
}
    




