@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/*The body will take 100% of the available height space */
body {
    background-image: url("../assets/images/green-back.jpg");
    background-repeat: repeat;
    margin: 0;
 }



.page-title{
    color:silver;
    font-family:'Aclonica', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
    margin-top: 50px;
}


.game-info{
    color:silver;
    font-size: 2em;
    font-family:'Aclonica', sans-serif;
}

.game-info-container{
     grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}



.game-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.scale{
    background-image: url("../assets/images/scale2.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;

}



.card{
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    transform: scale(1);
    background-color: transparent;
    
}

.card:hover{
    transform: scale(.97);
    transition: transform .2s ease-in-out;
}

img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    color: #ffffff;
    font-family:'Aclonica', sans-serif;
}

.overlay-text.visible{
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow{
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }

}


@media(max-width: 600px){
    .game-container{
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
}


    




